/.flaskenv
/DB_Update_Steps
/__pycache__
/data_upload
/env
/logs
/skipped_rows.xlsx
/upload_color_identity.py
/upload_decks.py
/upload_game_results.py
/upload_players.py
/upload_sessions.py
/instance
/config.py
/server_and_app_info.txt
/*.csv
/exportdb.py
/*.db
