  .gl_inner-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  }
  .gl_inner-table th, .inner-table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  