{% extends "base.html" %}
{% block content %}
<div class="col-md-6 col-lg-4">
  <h2 class="mb-4">Edit Deck: {{ deck.deck_name }}</h2>
  <form method="POST">
    {{ form.hidden_tag() }}

    <div class="mb-3">
      {{ form.deck_name.label(class="form-label") }}
      {{ form.deck_name(class="form-control") }}
      {% for error in form.deck_name.errors %}
        <div class="text-danger small">{{ error }}</div>
      {% endfor %}
    </div>

    <div class="mb-3">
      {{ form.color_identity_code.label(class="form-label") }}
      {{ form.color_identity_code(class="form-select") }}
      {% for error in form.color_identity_code.errors %}
        <div class="text-danger small">{{ error }}</div>
      {% endfor %}
    </div>

    <div class="mb-3">
      {{ form.owner_id.label(class="form-label") }}
      {{ form.owner_id(class="form-select") }}
      {% for error in form.owner_id.errors %}
        <div class="text-danger small">{{ error }}</div>
      {% endfor %}
    </div>

    <button type="submit" class="btn btn-primary">{{ form.submit.label.text }}</button>
  </form>
  </div>
{% endblock %}
